section.screenshots.side-padding
  .screenshots__content.container
    h2.screenshots__title.subtitle Take a look at our screenshots
    p.screenshots__desc Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
    .swiper-container-1
      .swiper-wrapper
        .swiper-slide
          img.swiper-image(src="screenshot-1.png", alt="Screenshot")
        .swiper-slide
          img.swiper-image(src="screenshot-2.png", alt="Screenshot")
        .swiper-slide
          img.swiper-image(src="screenshot-3.png", alt="Screenshot")
        .swiper-slide
          img.swiper-image(src="screenshot-4.png", alt="Screenshot")
        .swiper-slide
          img.swiper-image(src="screenshot-5.png", alt="Screenshot")
        .swiper-slide
          img.swiper-image(src="screenshot-6.png", alt="Screenshot")
        .swiper-slide
          img.swiper-image(src="screenshot-7.png", alt="Screenshot")
        .swiper-slide
          img.swiper-image(src="screenshot-1.png", alt="Screenshot")
        .swiper-slide
          img.swiper-image(src="screenshot-2.png", alt="Screenshot")
        .swiper-slide
          img.swiper-image(src="screenshot-3.png", alt="Screenshot")
        .swiper-slide
          img.swiper-image(src="screenshot-4.png", alt="Screenshot")
        .swiper-slide
          img.swiper-image(src="screenshot-5.png", alt="Screenshot")
        .swiper-slide
          img.swiper-image(src="screenshot-6.png", alt="Screenshot")
        .swiper-slide
          img.swiper-image(src="screenshot-7.png", alt="Screenshot")
    .swiper-button-prev
      i.fas.fa-long-arrow-alt-left
    .swiper-button-next
      i.fas.fa-long-arrow-alt-right
        