.screenshots {
  background-color: #f7fafc;
  &__content {
    position: relative;
    padding: 120px 0;
    text-align: center;
    @media (max-width: $md) {
      padding: 80px 0;
    }
  }
  &__title {
    margin-bottom: 30px;
  }
  &__desc {
    max-width: 660px;
    margin: 0 auto 80px;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
  }
}

.swiper-container-1 {
  position: relative;
  width: 900px;
  margin: auto;
  overflow: hidden;
  @media (min-width: $lg) and(max-width: $xl) {
    max-width: 700px;
  }
  @media (min-width: $md) and(max-width: $lg) {
    max-width: 600px;
  }
  @media (min-width: $sm) and(max-width: $md) {
    max-width: 440px;
  }
  @media (max-width: $sm) {
    max-width: 250px;
  }
  .swiper {
    &-image {
      height: 500px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
      @media (max-width: $sm) {
        height: 350px;
      }
    }
    &-slide {
      transform: scale(0.8);
      filter: blur(1px);
      transition: 300ms;
    }
    &-slide-prev,
    &-slide-next {
      transform: scale(0.9);
      z-index: 10;
      filter: none;
    }
    &-slide-active {
      transform: scale(1);
      z-index: 20;
      filter: none;
    }
  }
}

.swiper {
  &-button-prev,
  &-button-next {
    top: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 50%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #000000;
    background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%);
    transform: translate(0, -50%);
    z-index: 20;
    cursor: pointer;
    @media (max-width: $sm) {
      top: 480px;
    }
    & i {
      color: #ffffff;
    }
  }
  &-button-prev {
    left: 20px;
    z-index: 20px;
    @media (max-width: $sm) {
      left: -10px;
    }
    &:after {
      display: none;
    }
  }
  &-button-next {
    right: 20px;
    z-index: 20px;
    @media (max-width: $sm) {
      right: -10px;
    }
    &:after {
      display: none;
    }
  }
  &-button-disabled {
    width: 40px;
    height: 40px;
    border: 1px solid #eeeeee;
    background-image: none;
    background-color: #ffffff;
    & i {
      color: #777777;
    }
  }
}
