section.screenshots.side-padding
  .screenshots__content.container
    h2.screenshots__title.subtitle Take a look at our screenshots
    p.screenshots__desc Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
    