section.reviews.side-padding
  .reviews__content.container
    h2.reviews__title.subtitle What our customers are saying
    p.reviews__desc Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?