.reviews {
  &__content {
    padding: 120px 0;
    text-align: center;
  }
  &__title {
    margin-bottom: 23px;
  }
  &__desc {
    max-width: 660px;
    margin: 0 auto 80px;
    color: #777777;
    line-height: 24px;
  }
}

.slider {
  position: relative;
  & .slick-track {
    display: flex;
    align-items: center;
  }
  & .slick-list {
    height: 320px;
    overflow: hidden;
  }
  & .slick-arrow {
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 50%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    background-color: #000000;
    background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%);
    transform: translate(0, -50%);
    z-index: 20;
    cursor: pointer;
    @media (max-width: $sm) {
      top: 45%;
    }
    & i {
      color: #ffffff;
    }
  }
  & .slick-prev {
    left: -50px;
    margin-left: 10px;
    @media (min-width: $lg) and (max-width: $xl) {
      left: -20px;
    }
    @media (min-width: $md) and (max-width: $lg) {
      left: 90px;
    }
    @media (min-width: $sm) and (max-width: $md) {
      left: 40px;
    }
    @media (max-width: $sm) {
      left: -20px;
    }
  }
  & .slick-next {
    right: -50px;
    margin-right: 10px;
    @media (min-width: $lg) and (max-width: $xl) {
      right: -20px;
    }
    @media (min-width: $md) and (max-width: $lg) {
      right: 90px;
    }
    @media (min-width: $sm) and (max-width: $md) {
      right: 40px;
    }
    @media (max-width: $sm) {
      right: -20px;
    }
  }
  & .slick-current .review-card {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    @media (max-width: $xl) {
      transform: scale(1);
    }
  }
}

.review-card {
  box-sizing: border-box;
  max-width: 360px;
  height: 273px;
  margin-top: 20px;
  padding: 40px 0 0 40px;
  background-color: #f7fafc;
  text-align: left;
  transition: 300ms;
  @media (max-width: $xl) {
    transform: scale(0.9);
    padding: 20px;
  }
  @media (max-width: $lg) {
    max-width: 400px;
    padding: 40px 0 0 40px;
    width: 400px;
  }
  @media (max-width: $sm) {
    max-width: 300px;
    height: 250px;
    padding: 10px;
  }
  &__review {
    width: 270px;
    height: 84px;
    margin-bottom: 29px;
    color: #777777;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    @media (max-width: $sm) {
      font-size: 12px;
    }
  }
  &__author {
    display: flex;
    align-items: center;
  }
  &__photo {
    margin-right: 20px;
  }
  &__name {
    margin-bottom: 11px;
    color: #222222;
    font-family: "Dosis-Medium", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 400;
    @media (max-width: $sm) {
      font-size: 16px;
    }
  }
  &__position {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
  }
}
