section.reviews.side-padding
  .reviews__content.container
    h2.reviews__title.subtitle What our customers are saying
    p.reviews__desc Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
    .slider
      .review-card
        p.review-card__review The JustLanded for WordPress theme is great, super easy to use and to customize and the support is just awesome: super fast and reliable.
        .review-card__author
          img.review-card__photo(src="customer-1.png", alt="Photo")
          .review-card__author-info
            h3.review-card__name Alexandra Bullock
            span.review-card__position Apple Inc.
      .review-card
          p.review-card__review Very happy with the theme and incredibly easy to configure, well done! I cannot emphasize how awesome this theme and developer support are.
          .review-card__author
            img.review-card__photo(src="customer-2.png", alt="Photo")
            .review-card__author-info
              h3.review-card__name Gary Sebastian
              span.review-card__position Apple Inc.
      .review-card
          p.review-card__review Definitely a great theme and the support team are fantastic. Customer support is numero uno and ShapingRain have got this spot on. Cheers guys.
          .review-card__author
            img.review-card__photo(src="customer-3.png", alt="Photo")
            .review-card__author-info
              h3.review-card__name Samantha Bilbau
              span.review-card__position Apple Inc.
      .review-card
        p.review-card__review The JustLanded for WordPress theme is great, super easy to use and to customize and the support is just awesome: super fast and reliable.
        .review-card__author
          img.review-card__photo(src="customer-1.png", alt="Photo")
          .review-card__author-info
            h3.review-card__name Alexandra Bullock
            span.review-card__position Apple Inc.
      .review-card
          p.review-card__review Very happy with the theme and incredibly easy to configure, well done! I cannot emphasize how awesome this theme and developer support are.
          .review-card__author
            img.review-card__photo(src="customer-2.png", alt="Photo")
            .review-card__author-info
              h3.review-card__name Gary Sebastian
              span.review-card__position Apple Inc.
      .review-card
          p.review-card__review Definitely a great theme and the support team are fantastic. Customer support is numero uno and ShapingRain have got this spot on. Cheers guys.
          .review-card__author
            img.review-card__photo(src="customer-3.png", alt="Photo")
            .review-card__author-info
              h3.review-card__name Samantha Bilbau
              span.review-card__position Apple Inc.
      
      