doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://kit.fontawesome.com/373daff928.js" crossorigin="anonymous")
    title Giant
  body
    include ../../blocks/header/header
    main.main
      include ../../blocks/advantages/advantages
      include ../../blocks/leave/leave
      include ../../blocks/screenshots/screenshots
      include ../../blocks/packages/packages
      