doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="https://kit.fontawesome.com/373daff928.js" crossorigin="anonymous")
    link(rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css")
    link(rel="shortcut icon" href="favicon.png" type="image/png")
    title Giant
  body
    include ../../blocks/header/header
    main.main
      include ../../blocks/advantages/advantages
      include ../../blocks/leave/leave
      include ../../blocks/screenshots/screenshots
      include ../../blocks/packages/packages
      include ../../blocks/video-block/video-block
      include ../../blocks/reviews/reviews
      include ../../blocks/download/download
    include ../../blocks/footer/footer
      