.footer {
  background-color: #222222;
  &__content {
    padding: 60px 0;
    text-align: center;
  }
  &__icons {
    margin-bottom: 30px;
  }
  &__link {
    margin: 0 15px;
    color: #ffffff;
    font-size: 18px;
    transition: 300ms;
    &:hover {
      color: #f31f79;
    }
  }
  &__copy {
    color: #ffffff;
    font-size: 14px;
  }
}
