footer.footer.side-padding
  .footer__content.conteiner
    .footer__icons
      a.footer__link(href="#")
        i.fab.fa-facebook-f
      a.footer__link(href="#")
        i.fab.fa-twitter
      a.footer__link(href="#")
        i.fas.fa-globe
      a.footer__link(href="#")
        i.fab.fa-behance
    span.footer__copy Copyright © 2017  |  UXSEVEN - a sister concern of codepixar.com