@font-face {
  font-family: "Roboto";
  src: url("/Roboto-Regular.ttf")
}

@font-face {
  font-family: "Roboto-Light";
  src: url("/Roboto-Light.ttf")
}

@font-face {
  font-family: "Roboto-Medium";
  src: url("/Roboto-Medium.ttf")
}

@font-face {
  font-family: "Dosis";
  src: url("/Dosis-Regular.ttf")
}

@font-face {
  font-family: "Dosis-Medium";
  src: url("/Dosis-Medium.ttf")
}


@font-face {
  font-family: "Dosis-SemiBold";
  src: url("/Dosis-SemiBold.ttf")
}

@font-face {
  font-family: "Dosis-Bold";
  src: url("/Dosis-Bold.ttf")
}