body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #222222;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: initial;
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.side-padding {
  padding: 0 40px;
  @media (max-width: $lg) {
    padding: 0 20px;
  }
  @media (max-width: $sm) {
    padding: 0 13px;
  }
}

.subtitle {
  font-family: "Dosis-SemiBold";
  font-size: 36px;
  font-weight: 500;
  line-height: 30px;
  color: #222222;
}
