header.header.side-padding
  .header__content.container
    .header__nav-bar
      a.header__logo-link(href="#")
        img.header__logo(src="/logo.png", alt="Giant")
      nav.header__nav
        ul.header__list
          li.header__item
            a.header__link(href="#") Home
          li.header__item
            a.header__link(href="#") Features
          li.header__item
            a.header__link(href="#") Pricing
          a.header__download-btn Download Now