.header {
  background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%);
  &__nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }
  &__nav {
    max-width: 441px;
  }
  &__main-content {
    color: #ffffff;
  }
  &__title {
    font-family: "Dosis-SemiBold";
    font-size: 54px;
    font-weight: 400;
    line-height: 60px;
  }
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 441px;
  &__item {
    margin-right: 20px;
  }
  &__link {
    color: #ffffff;
  }
  &__download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 35px;
    border-radius: 17px;
    background-color: #ffffff;
  }
}
