header.header.side-padding
  .header__content.container
    .header__nav-bar
      a.header__logo-link(href="#")
        img.header__logo(src="/logo.png", alt="Giant")
      nav.header__nav
        ul.nav-list
          li.nav-list__item
            a.nav-list__link(href="#") Home
          li.nav-list__item
            a.nav-list__link(href="#") Features
          li.nav-list__item
            a.nav-list__link(href="#") Pricing
          a.nav-list__download-btn Download Now
      .hamburger.hamburger--collapse
        .hamburger-box
          .hamburger-inner

  .header__main-content
    h1.header__title A Powerful & Unique<br>App Landing Template
    p.header__desc Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor<br>incididunt ut labore et dolore magna aliqua.
    ul.header__list
      li.header__item <i class="header__icon fas fa-check-circle"></i> Unlimited colors: banner with images, slider or video
      li.header__item <i class="header__icon fas fa-check-circle"></i> Fully Responsive and powered by HTML5 and CSS3
      li.header__item <i class="header__icon fas fa-check-circle"></i> Very easy to customize : set up in minutes
    a.header__start-btn(href="#") Start Exploring Us
  img.header__img(src="/header-img.png", alt="Phones")