.advantages {
  background-color: #f7fafc;
  &__content {
    position: relative;
    padding: 120px 0;
    @media (max-width: $md) {
      padding: 80px 0;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 2px;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #eeeeee;
    }
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-items: center;
    column-gap: 48px;
    row-gap: 47px;
    @media (max-width: $sm) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }
  }
  &__card {
    display: flex;
    @media (max-width: $sm) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  &__icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 75px;
    max-width: 75px;
    height: 75px;
    margin-right: 25px;
    border: 1px solid #eeeeee;
    border-radius: 50%;
    @media (max-width: $sm) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  &__icon {
    font-size: 24px;
    color: #f31f79;
  }
  &__title {
    margin-bottom: 20px;
    font-family: "Dosis-SemiBold", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
  }
  &__desc {
    width: 260px;
    color: #777777;
    line-height: 24px;
    @media (max-width: $xl) {
      max-width: 260px;
      width: auto;
    }
  }
}
