section.advantages.side-padding
  .advantages__content.container
    .advantages__cards
      .advantages__card
        .advantages__icon-wrap
          i.advantages__icon.fas.fa-tags
        .advantages__text-wrap
          h3.advantages__title Sell any product online
          p.advantages__desc Over 92% of computers are infected with Adware and spyware. Such software is
      .advantages__card
        .advantages__icon-wrap
          i.advantages__icon.fas.fa-cog
        .advantages__text-wrap
          h3.advantages__title Very easy to customize
          p.advantages__desc Many of us are so used to working on a computer desktop that when it comes
      .advantages__card
        .advantages__icon-wrap
          i.advantages__icon.fas.fa-paint-brush
        .advantages__text-wrap
          h3.advantages__title Unlimited colors
          p.advantages__desc Audio player software is used to play back sound recordings in one of the many
      .advantages__card
        .advantages__icon-wrap
          i.advantages__icon.fas.fa-fire-extinguisher
        .advantages__text-wrap
          h3.advantages__title Responsive, HTML5, CSS3
          p.advantages__desc Computers have become ubiquitous in almost every facet of our lives. At work
      .advantages__card
        .advantages__icon-wrap
          i.advantages__icon.fas.fa-file-alt
        .advantages__text-wrap
          h3.advantages__title Designed to convert
          p.advantages__desc If you are looking for a new way to promote your business that won’t cost 
      .advantages__card
        .advantages__icon-wrap
          i.advantages__icon.fas.fa-life-ring
        .advantages__text-wrap
          h3.advantages__title With no boundaries
          p.advantages__desc Now, if you are interested in being the best player, getting really good money and





