.video-block
  img.video-block__img.video-block__img_wide(src="/video.png", alt="Video")
  img.video-block__img.video-block__img_short(src="/video-2.png" alt="Video")
  .video-block__filter
    a.video-block__play(href="#")
      img.video-block__icon(src="play-icon.png", alt="Icon")  