section.leave.side-padding
  .leave__content.container
    img.leave__img(src="./phone-img.png", alt="Mobile phone")
    img.leave__shadow(src="./shadow.png", alt="Shadow")
    .leave__text-col
      h2.leave__title.subtitle We don’t leave you stranded
      p.leave__desc.leave__desc_first Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill?
      p.leave__desc.leave-desc_second Everyone’s reasons for learning user interface design are different. If you’re already a developer, or a PM, or a UX designer, why develop this totally separate skill? If you’re already a developer, or a PM, or a UX designer.
      ul.leave__list
        li.leave__item  <i class="leave__icon fas fa-check-circle"></i> Unlimited colors: banner with images, slider or video
        li.leave__item  <i class="leave__icon fas fa-check-circle"></i> Fully Responsive and powered by HTML5 and CSS3
        li.leave__item  <i class="leave__icon fas fa-check-circle"></i> Very easy to customize : set up in minutes