section.download.side-padding
  .download__content.container
    .download__title Download Giant App Now
    .download__cards
      .download-card
        .download-card__icon-col
          img.dowload-card__icon(src="apple.png", alt="Apple")
        .download-card__text-col
          h3.download-card__title Download
          span.download-card__desc Download from app store
      .download-card
        .download-card__icon-col
          img.dowload-card__icon(src="android.png", alt="Android")
        .download-card__text-col
          h3.download-card__title Download
          span.download-card__desc Download from play store
      .download-card
        .download-card__icon-col
          img.dowload-card__icon(src="windows.png", alt="Windows")
        .download-card__text-col
          h3.download-card__title Download
          span.download-card__desc Download from microsoft store
