.header {
  position: relative;
  padding-bottom: 219px;
  background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%);
  overflow: hidden;
  @media (max-width: $md) {
    padding-bottom: 119px;
  }
  &__nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }
  &__nav {
    max-width: 441px;
  }
  &__main-content {
    color: #ffffff;
  }
  &__main-content {
    position: relative;
    margin-top: 135px;
    z-index: 3;
    @media (max-width: $md) {
      margin-top: 80px;
    }
  }
  &__title {
    margin-bottom: 22px;
    font-family: "Dosis-SemiBold";
    font-size: 54px;
    font-weight: 400;
    line-height: 60px;
    @media (max-width: $md) {
      font-size: 45px;
    }
  }
  &__desc {
    margin-bottom: 17px;
    line-height: 24px;
    @media (max-width: $md) {
      font-size: 12px;
    }
  }
  &__item {
    margin-bottom: 20px;
    @media (max-width: $md) {
      font-size: 12px;
    }
  }
  &__icon {
    margin-right: 20px;
    @media (max-width: $sm) {
      margin-right: 10px;
    }
  }
  &__start-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 40px;
    margin-top: 35px;
    margin-left: 5px;
    font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #ffffff;
    transition: 300ms;
    &:hover {
      background-color: #222222;
      color: #ffffff;
    }
  }
  &__img {
    position: absolute;
    top: 200px;
    right: -110px;
    @media (max-width: $xl) {
      right: -300px;
    }
    @media (max-width: $lg) {
      right: -330px;
      max-width: 700px;
    }
    @media (max-width: $md) {
      right: -410px;
    }
    @media (max-width: $sm) {
      top: auto;
      right: -300px;
      bottom: 0;
      max-width: 500px;
    }
  }
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 441px;
  @media (max-width: $md) {
    display: none;
  }
  &__item {
    margin-right: 20px;
  }
  &__link {
    color: #ffffff;
    transition: 300ms;
    &:hover {
      color: #222222;
    }
  }
  &__download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 35px;
    font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
    border-radius: 17px;
    background-color: #ffffff;
    transition: 300ms;
    &:hover {
      background-color: #222222;
      color: #ffffff;
    }
  }
}

.hamburger-menu {
  position: absolute;
  top: 88px;
  right: 0;
  display: none;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
  &__item {
    padding: 10px;
  }
  &__link {
    color: #ffffff;
  }
  &__download-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    height: 35px;
    margin: auto;
    font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
    border-radius: 17px;
    background-color: #ffffff;
  }
}

.hamburger {
  display: none;
  padding: 15px 15px;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  @media (max-width: $md) {
    display: inline-block;
  }
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #ffffff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--collapse .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
  top: -20px;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
  transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
    transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
  top: 0;
  transform: rotate(-90deg);
  transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
    transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
